@model Department

    <h1 class="alert alert-danger">
        Departement Id :: @Model.DeptId <br />
        Departement Name :: @Model.DeptName <br />
    </h1>
    <a asp-action="index" asp-controller="department" class="btn btn-primary">Back</a>
