@model Student
@{
    SelectList deplist = new SelectList(ViewBag.deptList, "DeptId", "DeptName");
}

    <form method="post" enctype="multipart/form-data">
        <partial name="CreateEdit" />
        <label asp-for="ConfirmEmail"></label>
        <br />
        <input asp-for="ConfirmEmail" class="form-control"/>
        <input type="submit" class="btn btn-outline-secondary" value="Add" />

    </form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}